div{
    margin: 20px;
    width: 210px;
    height: 120px;
    border: 3px solid blue;
    background: url(../img/f01.png) left bottom repeat-x, 
    url(../img/f02.png) left bottom no-repeat,
    url(../img/f03.png) left top repeat-x;
    background-color: rgb(162, 245, 245);
}

.muestra{
    margin: 40px;
    width: 500px;
    height: 300px;
    border-color: red;
}
